
<article id = "recipe" class="recipe card mb-3 mt-3">
  <div class="card-title">
   <a href="/recipe/{{id}}" class="edit-link"><h3>{{title}}</h3></a>
   <span class = "recipe-info">Created by <strong>{{user.username}} </strong> on <strong>{{format_date created_at}}</strong></span>   
</div>


  <div class="card-body row">
     <img id="recipe-image" class="d-inline-flex col-3" src= {{recipe_image}} width="600">
     
     <div class ="recipe-ingredients overflow-auto d-inline-flex col-9 float-right align-text-right">

       <h2>INGREDIENTS</h2>
             {{{ingredients}}}
  </div>
 
  </div>

  <div class ="recipe-instructions overflow-auto text-align-left">
    <h2>INSTRUCTIONS</h2><br>
    {{{instructions}}}
  </div>

    <a href="/recipe/{{id}}" class="btn btn-success btn-block comment-btn">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    
</article>