<article class="recipe">
  <div class="title">
      <a href="/recipe/{{id}}" class="edit-link"><h3>{{title}}</h3></a>
      <span class = "recipe-info">Created by <strong>{{user.username}} </strong> on <strong>{{format_date created_at}}</strong></span>   
  </div>

<aside class ="recipe-body mt-2 mb-2">{{ingredients}}</aside>
<aside class ="recipe-body mt-2 mb-2">{{instructions}}</aside>

  <div class="recipe-comments">
    <a href="/recipe/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>