
<article id = "recipe" class="recipe mb-3 mt-3">
<div class="title">
   <a href="/recipe/{{id}}" class="edit-link"><h3>{{title}}</h3></a>
   <span class = "recipe-info">Created by <strong>{{user.username}} </strong> on <strong>{{format_date created_at}}</strong></span>   
</div>
<div class ="d-inline-flex col-2">
  <img src= {{recipe_image}} width="300" height ="300">
</div>
<div class ="d-inline-flex col-10 float-right">
  <div class ="recipe-ingredients col-4 text-align-left">
    <h2>INGREDIENTS</h2>
    {{ingredients}}
  </div>
  <div class ="recipe-instructions col-8 text-align-left">
    <h2>INSTRUCTIONS</h2>
    {{instructions}}
  </div>
</div>
  <div class="recipe-comments">
    <a href="/recipe/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
  </div>
</article>