<article id = "recipe" class="recipe mb-3 mt-3">
<div class="title">
   <a href="/recipe/{{id}}" class="edit-link"><h3>{{title}}</h3></a>
   <span class = "recipe-info">Created by <strong>{{user.username}} </strong> on <strong>{{format_date created_at}}</strong></span>   
</div>
<div class ="d-inline-flex">
  <img src= {{recipe_image}}>
</div>
  </div>
</article>