<div class="row no-gutters mb-3">
  <div class="col-auto mr-2">
    <img src="{{recipe.recipe_image}}" width="50" height="50" />
  </div>
  <div class="col">
    <span class="d-block">
      <a href="/recipe/{{recipe.id}}">{{recipe.title}}</a>
    </span>
    <span class="d-block text-muted">
      Created by: {{recipe.user.username}} on <strong>{{format_date recipe.created_at}}</strong>
    </span>
  </div>
</div>
<div class="row no-gutters mb-3">
  <div class="col-12 col-md-5">
    <h2>INGREDIENTS</h2>
    <p class="text-justify">
      <ul>
      {{#each ingredientList as |ingredient|}}
        <li>{{ingredient}}</li>
      {{/each}}
      </ul>
    </p>
  </div>
  <div class="col-12 col-md-7 pl-md-4">
    <h2>INSTRUCTIONS</h2>
    <p class="text-justify">
      {{recipe.instructions}}
    </p>
  </div>
</div>

{{#if loggedIn}}
<form class="comment-form">
  <div class="mb-5">
    <textarea name="comment-body" class="form-control d-block" rows="5"></textarea>
    <button type="submit" class ="btn btn-primary btn-block">Add Comment</button>
  </div>
</form>
{{/if}}
{{> comments recipe.comments}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}